<page-title [title]="'What a sight!'" [subTitle]="'Seen something fancy?'"></page-title>
<div class="content">
    <form class="form" (ngSubmit)="onSubmit()" #thisForm="ngForm">
        <div class="form-group">
            <label for="date">On</label>
            <input type="text" class="form-control" [(ngModel)]="model.date" name="date" required #date="ngModel">
            <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                date is required
            </div>
        </div>
        <div class="form-group">
            <label for="location">When you were in</label>
            <input type="text" class="form-control" [(ngModel)]="model.location" name="location" required #location="ngModel">
            <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
                The When you were in field is required
            </div>
        </div>
        <div class="form-group">
            <label for="name">You saw</label>
            <input type="text" class="form-control" [(ngModel)]="model.name" name="name" required #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                The You Saw field is required
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!thisForm.form.valid">Save it!</button>
        <button type="button" class="btn btn-info" (click)="goBack()">Changed my mind</button>
    </form>
</div>