<page-title [title]="'Life is a journey!'" [subTitle]="'Add your travel details.'"></page-title>
<div class="content">
    <form class="form" (ngSubmit)="onSubmit()" #thisForm="ngForm">
        <div class="form-group">
            <label for="date">On</label>
            <input type="text" class="form-control" [(ngModel)]="model.Date" name="Date" required #Date="ngModel">
            <div [hidden]="Date.valid || Date.pristine" class="alert alert-danger">
                Date is required
            </div>
        </div>
        <div class="form-group">
            <label for="From">You travelled from</label>
            <input type="text" class="form-control" [(ngModel)]="model.From" name="From" required #From="ngModel">
            <div [hidden]="From.valid || From.pristine" class="alert alert-danger">
                The You travelled from field is required
            </div>
        </div>
        <div class="form-group">
            <label for="To">You travelled to</label>
            <input type="text" class="form-control" [(ngModel)]="model.To" name="To" required #To="ngModel">
            <div [hidden]="To.valid || To.pristine" class="alert alert-danger">
                The You travelled to field is required
            </div>
        </div>
        <div class="form-group">
            <label for="By">Your mode of transport was</label>
            <select class="form-control" [(ngModel)]="model.By" name="By" required>
              <option *ngFor="let t of transport" [value]="t">{{t}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!thisForm.form.valid">Save it!</button>
        <button type="button" class="btn btn-info" (click)="goBack()">Changed my mind</button>
    </form>
</div>