.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

.delete-cross {
    padding-left: 5px;
    padding-right: 5px;
    color: gray;
    font-size: 1.1em;
}