@model MagicBus.Providers.ViewModel.Model.NapViewModel

@Html.Partial("_ActivityInfo")
<div class="form-group">
    <label asp-for="Location"></label>
    <div class="input-group">
        <input type="text" class="form-control" asp-for="Location" autocomplete="off" value="@Model.Location">
        <span class="input-group-addon">
            <button type="submit" name="SubmitButtonUsed" class="glyphicon glyphicon-map-marker" value="Select it!" formnovalidate></button>
        </span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Description"></label>
    <input type="text" class="form-control" asp-for="Description" autocomplete="off" value="@Model.Description">
</div>
@Html.Partial("_ActivityToolbar")