@model MagicBus.Providers.ViewModel.Model.NapViewModel

@Html.Partial("_ActivityInfo")
<div class="form-group">
    <label asp-for="Location"></label>
    <input type="text" class="form-control" asp-for="Location" autocomplete="off">
</div>
<div class="form-group">
    <label asp-for="Description"></label>
    <input type="text" class="form-control" asp-for="Description" autocomplete="off">
</div>
@Html.Partial("_ActivityToolbar")