@model TDiary.ViewModel.TripViewModel

<input type="hidden" asp-for="SavePosition">
@Html.EditorFor(m => m.Date)
<div class="form-group">
    <label asp-for="From"></label>
    <input class="form-control" type="text" asp-for="From" autocomplete="off">
    <span asp-validation-for="From" class="text-danger" /> 
</div>
<div class="form-group">
    <label asp-for="To"></label>
    <input class="form-control" type="text" asp-for="To" autocomplete="off">
    <span asp-validation-for="To" class="text-danger" />
</div>
<div class="form-group">
    <label asp-for="ModeOfTransport"></label>
    <select asp-for="ModeOfTransport" asp-items="Html.GetEnumSelectList<TDiary.Model.ModeOfTransport>()" class="form-control"></select>
</div>
<input name="submitButtonUsed" type="submit" class="btn btn-primary" value="Save it!"> 
<input name="submitButtonUsed" type="submit" class="btn btn-info" value="Changed my mind" formnovalidate> 