@model TDiary.ViewModel.TripViewModel

<div class="jumbotron">
    <h1>Life's a Journey!</h1>
    <p>Add your travel detail.</p>
</div>

<div class="content">
    <form class="form" role="form" asp-action="Add"> 
        <div class="form-group">
            <label>On:</label>
            <input class="form-control" type="text" asp-for="Date" autocomplete="off"> 
            <span asp-validation-for="Date" class="text-danger" />
        </div>
        <div class="form-group">
            <label>From:</label>
            <input class="form-control" type="text" asp-for="From" autocomplete="off">
            <span asp-validation-for="From" class="text-danger" /> 
        </div>
        <div class="form-group">
            <label>To:</label>
            <input class="form-control" type="text" asp-for="To" autocomplete="off">
            <span asp-validation-for="To" class="text-danger" />
        </div>
        <div class="form-group">
            <label>By:</label>
            <select class="form-control" asp-for="ModeOfTransport" asp-items="Model.Transport"></select>
        </div>
        <input name="submitButtonUsed" type="submit" class="btn btn-primary" value="Add it!"> 
        <input name="submitButtonUsed" type="submit" class="btn btn-info" value="Changed my mind"> 
    </form> 
</div>