@model TDiary.ViewModel.TripViewModel

<div class="jumbotron">
    <h1>Life's a Journey!</h1>
    <h2>Add your travel detail.</h2>
</div>

<div class="content">
    <form class="form" role="form" asp-action="Add"> 
        @{
            Html.RenderPartial("_TripInfo", Model);
        }
    </form> 
</div>