@model TDiary.ViewModel.TripViewModel

<div class="content">
    <form class="form" role="form" asp-action="Add"> 
        @{
            Html.RenderPartial("_TripInfo", Model);
        }
    </form> 
</div>