@model TDiary.Providers.ViewModel.Model.TripViewModel
@{ Layout = "~/Views/Shared/_EditorLayout.cshtml"; }

<div class="content">
    <form class="form" role="form" asp-action="Edit">
        <input type="hidden" asp-for="Id">
        @{
            Html.RenderPartial("_TripInfo", Model);
        }
    </form>
</div>