@model TDiary.ViewModel.TripViewModel

<div class="jumbotron">
    <h1>Lost?</h1>
    <p>Edit your travel detail.</p>
</div>

<div class="content">
    <form class="form" role="form" asp-action="Edit"> 
        <input type="hidden" asp-for="Id">
        @{
            Html.RenderPartial("_TripInfo", Model);
        }
    </form> 
</div>