@model TDiary.Providers.ViewModel.Model.LoginViewModel

<div class="modal-dialog">
<h3>Please Log in or @Html.ActionLink("Register", "Register", "Account")</h3>
    <form class="form" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input type="text" class="form-control" asp-for="UserName" autocomplete="off">
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password" autocomplete="off">
        </div>

        <input name="SubmitButtonUsed" type="submit" class="btn btn-primary" value="Log in">
    </form>
</div>