@model TDiary.ViewModel.ChowViewModel

<div class="jumbotron">
    <h1>Had some Chow?</h1>
    <h2>Yum, add it to the list!</h2>
</div>

<div class="content">
    <form class="form" asp-action="Add">
        @{
            Html.RenderPartial("_ChowInfo", Model);
        }
    </form>
</div>