@model TDiary.ViewModel.ChowViewModel

<div class="jumbotron">
    <h1>Got your Chow mixed up?</h1>
    <p>Edit the details then!</p>
</div>

<div class="content">
    <form class="form" asp-action="Edit">
        <input type="hidden" asp-for="Id">
        @{
            Html.RenderPartial("_ChowInfo", Model);
        }
    </form>
</div>