<div class="about-panel">
    <h2 class="text-center">Magic bus gives you so much grooviness:</h2>
    <hr />
    <div class="row about-row">
        <div class="col-sm-6 about-header text-center">
            <i class="fa fa-pencil-square-o big-icon"></i><br />
            Take a note of those travel moments.
        </div>
        <div class="col-sm-6 about-text">
            You can capture activities of all sorts in Magic Bus.  The trips you have made, the food you ate, what you saw and where you slept.<br /><br />
            Jot it down with ease, profit from the joy!
        </div>
    </div>
    <div class="row about-row">
        <div class="col-sm-6 about-header text-center">
            <i class="fa fa-calendar-check-o big-icon"></i><br />
            See every groovy thing!  Avoid bad musrooms!
        </div>
        <div class="col-sm-6 about-text">
            Schedule activities from a range that we provide, or more interestingly, from shared trip activities from your friends.  You can see all the good things in life, and avoid some of the bad.
        </div>

    </div>
    <div class="row about-row">
        <div class="col-sm-6 about-header text-center">
            <i class="fa fa-plane big-icon"></i><br />
            Plan to see the world, piece by piece.
        </div>
        <div class="col-sm-6 about-text">
            Keep a track of the number of places you've visited, sights you've seen, food you've eaten.<br /><br />
            Compare your experiences with your funky friends!
        </div>
    </div>
</div>
<hr />
<div class="text-center">
    <h2>It's very simple to keep track of your travel antics.<br /><br />It's even simpler to set up an account.</h2>
    <div class="jumbotron modal-dialog">
        <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-block">I want to register</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-block">I have an account</a>
</div>
</div>
<br />