@model TDiary.ViewModels.HomeViewModel

<div class="jumbotron">
    <h1>@Model.Title</h1>
    <h2>@Model.Heading</h2>
</div>

<div class="content">
    <div class="row">
        <div class="col-sm-6">  
        <label>Wotcha been up to?</label><br>
        <a asp-action="Add" asp-controller="Trip" class="btn btn-primary">Been on a trip</a>
        <a asp-action="Add" asp-controller="Trip" class="btn btn-primary">Had some chow</a>
        <a asp-action="Add" asp-controller="Trip" class="btn btn-primary">Seen something funky</a>
        </div>
        <div class="col-sm-6">  
        <label>Recent experiences:</label>
            @foreach (var i in Model.Trips)
            {
                <div>@i.Snippet</div>
            }   
        </div>
    </div>
<div>