@model TDiary.ViewModels.HomeViewModel

<div class="jumbotron">
    <h1>@Model.Title</h1>
    <p>@Model.Heading</p>
</div>

<div class="content">
<p>@Model.Message</p>
<a asp-action="Add" asp-controller="Trip" class="btn btn-primary">Add Trip</a>
<div>