/* mitr-regular - latin-ext_vietnamese_thai_latin */
@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Mitr'), local('Mitr-Regular'), url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.svg#Mitr') format('svg'); /* Legacy iOS */
}