body {
    font-family: 'Mitr', serif;
    background-color: #2D3C4B;
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
}

.home-carousel {
    height: 400px;
    background-color: #44525f;
}

    .home-carousel .carousel-inner .item {
        width: 100%;
        height: 400px;
    }

.journey-carousel .carousel-inner .item {
    width: 100%;
    height: 195px;
}

.journey-carousel .carousel-control {
    height: 150px;
}

.journey {
    border: 1pt dotted antiquewhite;
    text-align: center;
    height: 175px;
    padding: 0;
}

.journey-header {
    border-bottom: 1px dotted antiquewhite;
    padding-bottom: 7px;
    padding-top: 5px;
    background-color: #44525f;
    margin-bottom: 10px;
}

.login-link {
    color: goldenrod;
}

    .login-link:hover {
        color: goldenrod;
        font-weight: bold;
    }

.link-button {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
     color: #777;
     font-size: 0.9em;
     font-weight: normal;
     margin-left: 10px;
}

.link-button:hover {
     color: antiquewhite;
}

.big-icon {
    font-size: 2.5em;
    text-align: center;
}

.huge-icon {
    font-size: 10em;
    text-align: center;
    color: goldenrod;
    padding-bottom: 50px;
}

.btn-full {
    padding: 0;
    border: solid 2pt #2D3C4B;
}

.fa-bus-icon {
    width: 10px;
}

.fa-bus:hover {
    color: goldenrod;
}

.padded-page {
    padding-left: 10px;
    padding-right: 10px;
}

.magic-bus-description {
    color: antiquewhite;
    margin-bottom: 5px;
}

.visible-true {
    display: none;
}

.visible-false {
    display: normal;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

    .container-fluid .jumbotron {
        padding: 10px;
        margin-bottom: 0;
        color: goldenrod;
        background-color: #272b30;
        margin-top: 15px;
        border-radius: 0;
    }

.jumbotron h1 {
    font-size: 36px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.row {
    margin: 0;
}

.experience {
    color: antiquewhite;
    padding: 2px;
    margin-bottom: 3px;
    background-color: #272b30;
    border-radius: 10px;
}

    .experience a:hover {
        text-decoration: none;
        color: white;
    }

.experience-toolbar {
    padding: 5px;
    text-align: right;
}

.clickable-experience {
    display: inline-block;
    min-height: 40px;
    margin-bottom: 5px;
    padding-left: 5px;
    color: antiquewhite;
}

    .clickable-experience:hover {
        color: antiquewhite;
    }

    .clickable-experience:visited {
        color: antiquewhite;
    }

.function-button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2D3C4B;
    color: white;
    border: 0;
}

    .function-button:hover {
        background: #91C957;
        color: black;
    }


.function-button-delete:hover {
    background-color: brown;
    color: black;
}

h1 {
    text-shadow: 4px 4px 4px darkred;
    padding-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.2em;
    margin-top: 5px;
    color: antiquewhite;
}

h3 {
    color: antiquewhite;
    font-size: 1.1em;
    padding-bottom: 5px;
    border-bottom: dotted 1pt antiquewhite;
    margin-top: 10px;
}

h4 {
    font-size: 1.1em;
    color: antiquewhite;
}
form {
    padding-bottom: 10px;
}

.validation-summary-errors {
    margin-top: 15px;
}

    .validation-summary-errors ul {
        padding-left: 10px;
    }

    .validation-summary-errors li {
        list-style-type: none;
    }

.input-validation-error {
    border-left: solid 5pt darkorange;
    background: white !important;
}

.btn-primary {
    background-color: #46BBDC;
    color: black;
    border: 0;
}

.btn-danger {
    border: 0;
}

label {
    color: antiquewhite;
}

.btn-info {
    background-color: #91C957;
    color: black;
    border: 0;
}

    .btn-info:hover {
        background-color: #91C957;
        color: white;
    }

.form-control {
    background-color: antiquewhite;
}

.text-danger {
    color: darkorange;
}

/* mitr-regular - latin-ext_vietnamese_thai_latin */
@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Mitr'), local('Mitr-Regular'), url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/mitr-v1-latin-ext_vietnamese_thai_latin-regular.svg#Mitr') format('svg'); /* Legacy iOS */
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    font-size: 0.7em;
    color: antiquewhite;
    border-top: solid 1px #777;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.facebook-button {
    background-color: #2b4170; /* fallback color */
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
    color: white;
    width: 70px;
}

.google-button {
    width: 70px;
    background-color: #4285f4; /* fallback color */
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
    color: white;
}

.twitter-button {
    width: 70px;
    background-color: #01a7fd; /* fallback color */
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
    color: white;
}

.windows-button {
    width: 70px;
    background-color: #2b6ef5; /* fallback color */
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
    color: white;
}

.twitter-button:hover,
.facebook-button:hover,
.windows-button:hover,
.google-button:hover {
    border: 1px solid antiquewhite;
    text-shadow: 0 -1px -1px #1f2f52;
    color: black;
}

.about-header {
    color: goldenrod;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    font-size: 2em;
    vertical-align: middle;
}

    .about-header > i {
        margin-bottom: 20px;
    }

.about-text {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: antiquewhite;
    vertical-align: middle;
}

.about-row {
    margin-top: 70px;
}

.about-panel {
    margin-bottom: 100px;
}

.page-number {
    color: antiquewhite;
    font-size: 1.1em;
    padding-left: 10px;
    padding-right: 10px;
}
