@model TDiary.ViewModel.SightViewModel

<div class="jumbotron">
    <h1>What a sight!</h1>
    <p>You've seen something funky</p>
</div>

<div class="content">
    <form class="form" role="form" asp-action="Add">
        <div class="form-group">
            <label>On:</label>
            <input class="form-control" type="text" asp-for="Date" autocomplete="off"> 
            <span asp-validation-for="Date" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Saw:</label> 
            <input type="text" class="form-control" asp-for="Name" autocomplete="off">
            <span asp-validation-for="Name" class="text-danger" /> 
        </div>
        <input name="SubmitButtonUsed" type="submit" class="btn btn-primary" value="Add it!"> 
        <input name="SubmitButtonUsed" type="submit" class="btn btn-info" value="Changed my mind"> 
    </form> 
</div>