@model TDiary.ViewModel.SightViewModel

<div class="jumbotron">
    <h1>What a sight!</h1>
    <h2>You've seen something funky</h2>
</div>

<div class="content">
    <form class="form" role="form" asp-action="Add">
        @{
            Html.RenderPartial("_SightInfo", Model);
        }
    </form> 
</div>