@model TDiary.ViewModel.SightViewModel

<div class="content">
    <form class="form" role="form" asp-action="Add">
        @{
            Html.RenderPartial("_SightInfo", Model);
        }
    </form> 
</div>