@model TDiary.ViewModel.SightViewModel

<div class="jumbotron">
    <h1>Double Take?</h1>
    <h2>Change what you saw.</h2>
</div>

<div class="content">
    <form class="form" role="form" asp-action="Edit">
        <input type="hidden" asp-for="Id">
        @{
            Html.RenderPartial("_SightInfo", Model);
        }
    </form> 
</div>