@model TDiary.Providers.ViewModel.Model.SightViewModel
@{ Layout = "~/Views/Shared/_EditorLayout.cshtml"; }

<div class="content">
    <form class="form" role="form" asp-action="Edit">
        <input type="hidden" asp-for="Id">
        <input type="hidden" name="sourceLocation" value="@ViewData["sourceLocation"]">
        @{
            Html.RenderPartial("_SightInfo", Model);
        }
    </form>
</div>